language: rust
rust:
  - 1.21.0
  - stable
  - beta
  - nightly
script:
  - cargo build --verbose
  - cargo test --verbose
  - cargo doc
  - if [ "$TRAVIS_RUST_VERSION" = "nightly" ]; then
      cargo build --verbose --manifest-path quickcheck_macros/Cargo.toml;
      cargo test --verbose --manifest-path quickcheck_macros/Cargo.toml;
    fi
